.app-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns horizontally center in the container */
    min-height: 100vh; /* Sets the minimum height to 100% of the viewport height */
}

.input-section, .tax-details, .total-section, .discounts-section, .grand-total-section {
    width: 95%; /* Makes each section take full width of the container */
    max-width: 600px; /* Optional: Restricts maximum width of the content */
}

.input-field {
    display: block;
    margin: 10px 0;
}

.radio-options {
    display: flex;
    flex-direction: column;
}

.radio-option {
    margin-bottom: 5px;
}

.radio-label {
    display: block;
    margin: 1px 0;
    line-height: 1.0;
}

.tax-details {
    color: red; /* Default color for taxes */
}

.tax-item {
    margin: 5px 0;
}

.tax-total-amount {
    font-weight: bold;
}

.tax-total {
    margin-top: 15px;
}

.discount-item {
    color: green; /* Color for discounts */
    font-weight: bold;
    margin-top: 10px;
}

.discount-amount {
    font-weight: bold;
}

.total-amount {
    font-size: 1.2em;
    font-weight: bold;
}

.section-titles {
    color: black;
}
